{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
    <div class="search-container">
        <form action="/" method="POST">
            <input type="search" placeholder="Search..." name="search" id="search">
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="search-results">
        {% for activity in activities %}
            <h5>{{ activity.title }}</h5>
            <p class="text-secondary" class="fs-6">Rating: {{ activity.rating }}</p>
            <p class="text-secondary" class="fs-6">Estimated cost: ~${{ activity.cost }}</p>
            <p class="text-secondary" class="fs-6">Tags: {{ activity.tag }}</p>
            <p class="text-secondary" class="fs-6">Date updated: {{ activity.edit_date }}</p>
            <p class="text-secondary" class="fs-6" class="description">{{ activity.description }}</p>
        {% endfor %}
    </div>



{% endblock %}
